dev:
  host: auth-dev.kungfoo.info
  domains:
    - grafana-dev.kungfoo.info
    - prometheus-dev.kungfoo.info
    - uptime-dev.kungfoo.info
  whitelist:
    - bkk.kungfoo.info
  consul: consul.service.consul
prod:
  host: auth.kungfoo.info
  domains:
    - grafana.kungfoo.info
    - prometheus.kungfoo.info
    - uptime.kungfoo.info
  whitelist:
    - bkk.kungfoo.info
  consul: consul.service.consul
